html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color:   white;
    text-align: center;
}

body, html{
    background: whitesmoke;
    width: 100%;
    height: 100%;
    
}



#headDiv {
    position: relative;
    height: 30px;
    margin-top: 1%;
    margin-left:70px;
    margin-right: 70px;
    margin-bottom: 20px;
    

    width: auto;
    padding: 0px;
    text-align: center;
    border-radius: 25px;
    border: .5px solid #47a9e2;
   
}

#bodyDiv {
    position: relative;
    width: auto;
    height: auto;
    margin-left:70px;
    margin-right:70px;
    text-align: center;

    
    padding: 180px;
    border-radius: 25px;
    border: .5px solid #47a9e2;
    
}

.bg-light {

    margin-right: 60px;
    margin-left: 60px;
    font-family: 'Fredoka One', cursive;
    margin-top: 60px;

    margin-bottom: 50px;
    size: 50px;
    
}


.hero {
	background-image: radial-gradient(50% 176%, #99bbce 80%, #4da5d8 100%);
    min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	height:100%;

}
y
.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

.navbar-brand {

    font-size: 40px;
    text-shadow: 1px 1px 2px black, 0 0 25px  #061922, 0 0 5px  #061922;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;


    
}


@-webkit-keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:410px; top:0px;}
    50%  {left:410px; top:30px;}
    75%  { left:410px; top:30px;}
    100% { left:410px; top:30px;}
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:410px; top:0px;}
    50%  { left:410px; top:30px;}
    75%  { left:0px; top:30px;}
    100% { left:0px; top:0px;}
}