html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color:   white;
    text-align: center;
}

body, html{
    background: whitesmoke;
    width: 100%;
    height: 100%;
    
}



#headDiv {
    position: relative;
    height: 30px;
    margin-top: 1%;
    margin-left:70px;
    margin-right: 70px;
    margin-bottom: 20px;
    

    width: auto;
    padding: 0px;
    text-align: center;
    border-radius: 25px;
    border: .5px solid whitesmoke;
   
}

#bodyDiv {
    position: relative;
    width: auto;
    height: auto;
    margin-left:70px;
    margin-right:70px;
    text-align: center;

    
    padding: 180px;
    border-radius: 25px;
    border: .5px solid #47a9e2;
    
}

.bg-light {

    margin-right: 60px;
    margin-left: 60px;
    font-family: 'Fredoka One', cursive;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
    size: 50px;
    
}


.hero {
	background-image: radial-gradient(50% 176%, #99bbce 80%, #4da5d8 100%);
    min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	height:100%;
	content {
		position: relative;
		align-self: center;
		padding: 3rem 0;

    }
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

.navbar-brand {

    font-size: 35px;
 
    text-shadow: 1px 1px 2px black, 0 0 25px  #061922, 0 0 5px  #061922;

    
}


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Muli');
  $textDur: 1050ms;
  $waveDur: 2100ms;
  
  html, body {
    font-size: 62.5%;
    background-color: #00091B;
    font-family: 'Muli', Helvetica, sans-serif;
  }
  
  .container {
    position: absolute;
    width: 17rem;
    height: 10rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .text {
    color: #fff;
    font-size: 6rem;
    font-weight: 900;
    display: inline-block;
    position: absolute;
    bottom: 0;
    animation: text $textDur ease-in infinite;
    transform: translatez(0);
    &-w {
      left: 0rem;
      transform: translate3d(0, -4rem, 0);
      animation: text-w $textDur ease-in infinite;
    }
    &-a {
      left: 5.4rem;
      animation-delay: 150ms;
    }
    &-v {
      left: 9.6rem;
      animation-delay: 230ms;
    }
    &-e {
      left: 13rem;
      animation-delay: 310ms;
    }
  }
  
  .coast { // wave: translate-x
    position: absolute;
    left: 1.3rem;
    bottom: 1.7rem;
    width: 6.2rem;
    height: 2.2rem;
    display: inline-block;
    animation: coast $waveDur linear infinite;
    transform: translateZ(0);
  }
  
  .wave-rel-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 3rem;
    perspective-origin: 0%, 50%;
  }
  
  .wave { // wave: width && scale && rotate 
    position: absolute;
    width: 6.2rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    background: radial-gradient(ellipse at center, rgba(116, 241, 252, 1) 0%, rgba(50, 230, 255, 1) 73%, rgba(21, 199, 250, 1) 100%);
    display: inline-block;
    animation: wave $waveDur linear infinite;
    will-change: width;
    transform: translateZ(0) scale(0);
  }
  
  .delay {
    animation-delay: $waveDur / 2;
  }
  
  @keyframes text {
    0% {
      transform: translate3d(0, 0, 0);
    }
    30% {
      transform: translate3d(0, 0, 0);
    }
    45% {
      transform: translate3d(0, -4rem, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes text-w {
    0% {
      transform: translate3d(0, -4rem, 0);
    }
    38% {
      transform: translate3d(0, -4rem, 0);
    }
    69% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, -4rem, 0);
    }
  }
  
  @keyframes coast {
    0% {
      transform: translate3d(0, 0, 0);
    }
    23% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(16rem, 0, 0);
    }
    100% {
      transform: translate3d(16rem, 0, 0);
    }
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
      width: 2.2rem;
    }
    10% {
      transform: scale(1);
    }
    23% {
      width: 2.2rem;
    }
    32% {
      width: 6.1rem;
    }
    42% {
      width: 5rem;
      transform: rotateY(0deg) scale(1, 1);
    }
    51% {
      transform: rotateY(90deg) scale(0.6, 0.2);
    }
    52% {
      transform: rotateY(90deg) scale(0);
    }
    100% {
      transform: rotateY(90deg) scale(0);
    }
  }